.App {
    text-align: center;
}

body {
    background-color: rgb(247, 242, 233);
}

.loading {
    height         : 100vh;
    /* Magic here */
    display        : flex;
    justify-content: center;
    align-items    : center;
}